<p>Благодарим Вас за приобритение билета через наш сервис</p>
<p>Для просмотра билета пройдите по <%= link_to 'ссылке', @ticket %></p>
<p>Для просмотра всех билетов пройдите по <%= link_to 'ссылке', tickets_url %></p>